body{
  background-image: url(assets/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  margin: 0;

  display: flex;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
}

.clock-container{
  backdrop-filter: blur(5px);
  padding: 10px;
}

.clock{
  font-size: 6rem;
  font-family: monospace;
  font-weight: bold;
  color: white;
  text-shadow: 3px 3px 5px hsla(0, 0%, 0, 0.5);
}